/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 7, 2022, 10:30:46 AM
    Author     : maria
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant Garamond", serif;
  font-family: "Hind Siliguri", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  color: #3e474f;
  background-color: #edeff0;
}

header {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
  /*justify-content: space-between;*/
}

a{
    text-decoration: none;
    color: #6a787c;
    font-size: 16px;
}

a:hover {
  border-bottom: 2px solid #6a787c;
}


main {
  display: flex;
  padding: 25px 60px 40px;/* top right and left bottom*/
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  width: 35%;
  margin: 10px auto;
  background-color: #ffffff;
  color: #6a787c;
}

h2{
    margin-bottom: 10px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}

input ,textarea{
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: #40484a;
  background-color: #edeff0;
  border: none;
}


#submit {
  cursor: pointer;
  color: #ffffff;
  margin-top: 18px;
  font-weight: bold;
  background-color: #00754a;

  border-width: 2px;
  border: none;
  font-size: 14px;
  height: 40px;
  line-height: 36px;
  padding: 0 15px;
}